{
	"extends": [
		"plugin:@wordpress/eslint-plugin/jshint"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"radix": "error",
		"yoda": [ "error", "never" ],
		"no-shadow": 0,
		"camelcase": 0,
		"no-console": "off"
	},
	"globals": {
		"wp": true,
		"ajaxurl": true,
		"document": true,
		"jQuery": true,
		"lodash": true,
		"module": true,
		"process": true,
		"window": true
	}
}
